@import 'styles/main.scss';

.projectTitle{
  color: $primary-color;
}
.projectContent{
  // font-family: 'StyreneAWeb';
  // font-weight: 400;
  border-left: $secondary-color 1px solid;
}

.link{
  color: $accent-color;
}