@import 'styles/main.scss';

.education{
  margin-top: 20px;
  border-bottom: $secondary-color 1px solid;
}

.title{
  align-self: start;
  text-align: start;
  margin: 0;

}
.item{
  justify-self: start;
}