 .listItem{
  font-size: 10px;
  display: inline;
  margin-right: 10px;
  color: $secondary-color;
  text-align: left;
  justify-self: start;
}
 
 @media screen and (min-width:$mobile){
 .listItem{
    font-size: 12px;
  }}
 
 @media screen and (min-width:$tablet){
 .listItem{
    margin-right: 15px;
    font-size: 16px;
  }}

  @media screen and (min-width:$desktop){
  .listItem{
  margin-right: 20px;
  font-size: 18px;
}}