@import 'styles/main.scss';

.objective{
  border-bottom: $secondary-color 1px solid;
}
.objectiveTitle{

margin: 0;
margin-bottom: 20px;
}

.objectiveItem{
  justify-self: start;
  text-align: start;
}