@import 'styles/main.scss';

.objective{
  border-bottom: $secondary-color 1px solid;
}
.objectiveTitle{

margin: 0;
margin-bottom: 20px;
}

.objectiveItem{
  justify-self: start;
  text-align: start;
  margin-bottom: 20px;
line-height: 1rem;
}

@media screen  and (min-width:$mobile){
  .objectiveItem {
line-height: 1.2rem;
  }
}

@media screen and (min-width:$tablet) {
  .objectiveItem {
    line-height: 1.6rem;
  }
}

@media screen and (min-width:$desktop) {
  .objectiveItem {
    line-height: 2rem;
  }
}


